.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .indexhintergrund {
    background-image: url(indexminecraft.jpg);
    zoom: 100%;
  }
  .programmhintergrund {
    background-image: url(programmer.jpg);
  }
  .fussballhintergrund {
    background-image: url(football.jpg);
  }
  .thymiohintergrund {
    background-image: url(zh.png);
  }
  .bootstraphintergrund {
    background-image: url(bootstrap.png);
    background-repeat: no-repeat;
  }
  .javascripthintergrund {
    background-image: url(javascript.jpg);
    background-repeat: no-repeat;
  }
  .phphintergrund {
    background-image: url(php.png);
    background-repeat: no-repeat;
  }
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }

  
  .overflow-hidden { overflow: hidden; }
  @media (max-width: 800px) {
    .indexhintergrund {
      background-image: url(indexminecraft.jpg);
      zoom: 40%;
    }
    .programmhintergrund {
      background-image: url(programmer.jpg);
      zoom: 40%;
    }
    .fussballhintergrund {
      background-image: url(football.jpg);
      zoom: 50%;
    }
    .thymiohintergrund {
      background-image: url(zh.png);
      zoom: 150%;
    }
    .bootstraphintergrund {
      background-image: url(bootstrap.png);
      background-repeat: no-repeat;
      zoom: 36%;
    }
    .javascripthintergrund {
      background-image: url(javascript.jpg);
      background-repeat: no-repeat;
      zoom: 34%;
    }
    .phphintergrund {
      background-image: url(php.png);
      background-repeat: no-repeat;
      zoom: 72%;

    }
  }