body {
  font-family: Verdana,sans-serif;
  
}
.textur {
  display: block;
  width: 90%;
  margin: auto;
  background-image: url(Textur.png);
  background-repeat: repeat-y; 
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100px;
  padding-top: 10px;
}
.ersthinter {
  display: block;
  width: 100%;
  margin: auto;
  background-image: url(einfach\ hintergrund.jpg);
  background-repeat: repeat-y; 
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100px;
  padding-top: 10px;
}
.hinterblock {
  display: block;
  width: 100%;
  margin: auto;
  background-image: url(Hinterblock.jpg);
  background-repeat: repeat-y; 
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100px;
  padding-top: 10px;
}
.catalina {
  display: block;
  width: 100%;
  margin: auto;
  background-image: url(ios-11-wallpaper-for-ipad-1.jpg);
  background-repeat: repeat-y; 
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100px;
  padding-top: 10px;
}
.prozessor {
  display: block;
  width: 100%;
  margin: auto;
  background-image: url(Hinterthymio.jpg);
  background-repeat: repeat-y; 
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100px;
  padding-top: 10px;
}
h1 {
  font-size: 70px;
  text-align: center;
  color: black;
}
h2 {
  font-size: 50px;
  text-align: center;
  color: black;
}
h3 {
  font-size: 130px;
  text-align: center;
  color: black;
}
p {
  font-size: 30px;
  text-align: center;
  color: black;
}
h4 {
  font-size: 20px;
  text-align: center;
  color: black;
}
button.gross {
  background-color: green;
  color:white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border-radius: 4px;
  -webkit-transition-duration: 1.3s; /* Safari */
  transition-duration: 1.3s;
  border:2px solid Green;


}
button.gross:hover {
  background-color: white;
  color:black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border-radius: 4px;
  border:2px solid Green;
}
.youtube {
  width: 80%;
  height: 300px;
}
.html{
  color:black;
  font-size: 40px;
  text-align: center;
  width: 80%;
  margin: auto;
}
button.kleinfloat2 {
  width: 350px;
  background-color: green;
  color:white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  -webkit-transition-duration: 1s.3s; /* Safari */
  transition-duration: 1.3s;
  border:2px solid Green;
}
button.kleinfloat2:hover {
  width: 350px;
  background-color: white;
  color:black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border:2px solid Green;
}

.content{
	margin: auto;
	max-width: 90%;
  width: 1300px;
}
main{
	padding: 1% 0;
	position: relative;
	background: #f5f5f5;
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
		height: 100%;
}
footer p{
	font-size: .8rem;
	font-weight: bold;
	color: #ccc;
}
footer a{color: #ccc;}
/* --- Important Pen Styles --- */
.zoom{
	overflow: hidden;
	padding-bottom: 55%;
}
.zoom img{
	position: fixed;
	top: 0%;
	left: 50%;
	max-width: 200%;
	width: 100%;
	transform: translateX(-50%);
	/* Thanks  @bastian_fiessinger. Use when activating blur effect:
	will-change: -webkit-filter, filter, transform; */
}
.sourcecode {
  margin: auto;
  width: 1100px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  overflow: auto;
  background: white;
  font-size: 14px;
  height: 400px;
}
.keyword {
  color: brown;
}
.befehl {
  color: blue;
}
.erklärung {
  color: green;
}
iframe {
  width: 960px;
  height: 550px;
}
.fotoklein {
  zoom: 100%;
}
.fotoultraklein {
  zoom: 100%;
}
.fotobedwarsklein {
  zoom: 60%;
}
@media (max-width: 700px) {
      h1{
      font-size: 40px;
      text-align: center;
      color: black;
      }
      h2 {
      font-size: 22px;
      text-align: center;
      color: black;
      }
      h3 {
        font-size: 60px;
        text-align: center;
        color: black;
      }
      p {
        font-size: 17px;
        text-align: center;
        color: black;
      }
      h4 {
        font-size: 11px;
        text-align: center;
        color: black;
      }
      .ersthinter {
        display: block;
        width: 100%;
        margin: auto;
        background-image: url(einfachkleinhintergrund.jpg);
        background-repeat: repeat-y; 
        background-attachment: fixed;
        background-size: 100%;
        padding-bottom: 100px;
        padding-top: 10px;
      }
      .hinterblock {
        display: block;
        width: 100%;
        margin: auto;
        background-image: url(Hinterblock.jpg);
        background-repeat: repeat-y; 
        background-attachment: fixed;
        background-size: 100%;
        padding-bottom: 100px;
        -webkit-background-size: cover;
        padding-top: 10px;
      }
      .catalina {
        display: block;
        width: 100%;
        margin: auto;
        background-image: url(iosklein.jpg);
        background-repeat: repeat-y; 
        background-attachment: fixed;
        background-size: 100%;
        padding-bottom: 100px;
        padding-top: 10px;
      }
      iframe {
        width: 340px;
        height: 180px;
      }
      .sourcecode {
        margin: auto;
        width: 300px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 10px;
        overflow: auto;
        background: white;
        font-size: 12px;
        height: 400px;
      }
      .prozessor {
        display: block;
        width: 100%;
        margin: auto;
        background-image: url(Hinterthymio_Portrait.jpg);
        background-repeat: repeat-y; 
        background-attachment: fixed;
        background-size: 100%;
        padding-bottom: 100px;
        padding-top: 10px;
      }
      .html{
        color:black;
        font-size: 22px;
        text-align: center;
      }
      button.kleinfloat2 {
        width: 280px;
        background-color: green;
        color:white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 30px;
        -webkit-transition-duration: 1s.3s; /* Safari */
        transition-duration: 1.3s;
        border:2px solid Green;
      }
      button.kleinfloat2:hover {
        width: 280px;
        background-color: white;
        color:black;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 30px;
        border:2px solid Green;
      }
      .fotoklein {
        zoom:33%;
      }
      .fotoultraklein {
        zoom: 24%;
      }
      .fotobedwarsklein {
        zoom: 15%;
      }
      
}